[Unit]
Description = Apache Kafka by Confluent
Wants = basic.target
After = basic.target network.target

[Service]
EnvironmentFile = /etc/sysconfig/kafka-connect-distributed-server
ExecStart = /usr/bin/kafka-connect-distributed-server-start /etc/kafka-connect-distributed/server.properties
LimitNOFILE = 256000
KillMode = process
User = kafka-connect-distributed
RestartSec = 5
Type = simple
ExecStop = /usr/bin/kafka-connect-distributed-server-stop

[Install]
WantedBy = multi-user.target