[Unit]
Description = Apache Kafka by Confluent
Wants = basic.target
After = basic.target network.target

[Service]
EnvironmentFile = /etc/sysconfig/kafka-server
ExecStart = /usr/bin/kafka-server-start /etc/kafka/server.properties
LimitNOFILE = 256000
KillMode = process
User = kafka
RestartSec = 5
Type = simple
ExecStop = /usr/bin/kafka-server-stop

[Install]
WantedBy = multi-user.target